:host([orientation='horizontal']) {
    width: 100%;
  }
  :host([orientation='vertical']) {
    height: 100%;
  }
  .line {
    background: rgba(var(--neutral-1), 0.25);
  }
  :host([orientation='horizontal']) .line {
    height: 1px;
    width: 100%;
  }
  :host([orientation='vertical']) .line {
    width: 1px;
    height: 100%;
  }
  /* spacing */
  :host([spacing='s'][orientation='horizontal']) {
    padding: var(--spacing-s) 0;
  }
  :host([spacing='m'][orientation='horizontal']) {
    padding: var(--spacing-l) 0;
  }
  :host([spacing='l'][orientation='horizontal']) {
    padding: calc(var(--spacing-l) * 2) 0;
  }
  :host([spacing='s'][orientation='vertical']) {
    padding: 0 var(--spacing-s);
  }
  :host([spacing='m'][orientation='vertical']) {
    padding: 0 var(--spacing-l);
  }
  :host([spacing='l'][orientation='vertical']) {
    padding: 0 calc(var(--spacing-s) * 2);
  }