:host {
    background-color: rgb(var(--base-4));
    border-radius: var(--border-radius);
    display: flex;
    box-shadow: var(--shadow-1);
    transition: var(--transition-1), 0s top, 0s left;
    position: fixed;
    opacity: 1;
    z-index: 4;
    width: 240px;
    /* css properties */
    --body-gap: var(--spacing-m);
    --header-gap: var(--spacing-m);
    --functions-gap: var(--spacing-m);
    --footer-gap: var(--spacing-m);
  }
  :host(:not([visible])) {
    opacity: 0;
    pointer-events: none;
  }
  :host([position^='bottom']:not([visible])) {
    margin-top: -8px;
  }
  :host([position^='top']:not([visible])) {
    margin-top: 8px;
  }
  :host([position^='right']:not([visible])) {
    margin-left: -8px;
  }
  :host([position^='left']:not([visible])) {
    margin-left: 8px;
  }
  air-card {
    background-color: transparent;
    box-shadow: none;
    --body-gap: inherit;
    --header-gap: inherit;
    --functions-gap: inherit;
    --footer-gap: inherit;
  }